<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Lists</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
    <link href="/css/material-icons.css" rel="stylesheet">
</head>
<body ng-app="myApp" layout="column"
      ng-controller="ListController">
<md-toolbar class="md-toolbar-tools">
  <h1>Dive gear checklist</h1>
</md-toolbar>
<md-content>
    <md-list>
      <md-list-item ng-repeat="item in checklist">
        <p>{{item.name}}</p>
        <md-checkbox class="md-secondary"
          ng-model="item.packed">
        </md-checkbox>
      </md-list-item>
    </md-list>
  <md-divider></md-divider>
</md-content>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./list.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'list'])
</script>
</body>
</html>
