@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('./fonts/glyphicons-halflings-regular.eot');
  src:
    url('./fonts/glyphicons-halflings-regular.eot?#iefix')
      format('embedded-opentype'),
    url('./fonts/glyphicons-halflings-regular.woff2')
      format('woff2'),
    url('./fonts/glyphicons-halflings-regular.woff')
      format('woff'),
    url('./fonts/glyphicons-halflings-regular.ttf')
      format('truetype'),
    url('./fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
      format('svg');
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.glyphicon.pencil:before {
  content: "\270f";
}
.glyphicon.glass:before {
  content: "\e001";
}
.glyphicon.music:before {
  content: "\e002";
}

.glyphicon.size-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.glyphicon.size-24 {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

.glyphicon.size-36 {
  font-size: 36px;
  height: 36px;
  width: 36px;
}

.glyphicon.size-48 {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

.glyphicon.red {
  color: #F44336; /* Red 500 */
}

.glyphicon.green {
  color: #4CAF50; /* Green 500 */
}

.glyphicon.blue {
  color: #2196F3; /* Blue 500 */
}