<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Chips</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
  <link rel="stylesheet"
        href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
</head>
<body ng-app="myApp" layout="column"
      ng-controller="ChipsController">
<md-toolbar class="md-toolbar-tools">
  <h1>Chips</h1>
</md-toolbar>
<md-content>
  <div layout layout-padding layout-align="center center">
    <div flex>
      Default chips
    </div>
    <div flex="75" layout="column">
      <md-chips ng-model="fishList"></md-chips>
      <div>
        <code>{{fishList | json}}</code>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout layout-padding layout-align="center center">
    <div flex>
      Read-only chips
    </div>
    <div flex="75">
      <md-chips ng-model="roFishList"
        readonly="true">
      </md-chips>
    </div>
  </div>
  <md-divider></md-divider>
  <div layout layout-padding layout-align="center center">
    <div flex>
      Static chips
    </div>
    <div flex="75">
      <md-chips>
        <md-chip>{{roFishList[0]}}</md-chip>
        <md-chip>{{roFishList[2]}}</md-chip>
      </md-chips>
    </div>
  </div>
  <md-divider></md-divider>
</md-content>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./chips.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'chips'])
</script>
</body>
</html>
