<!DOCTYPE html>
<html lang="en" >
<head>
  <title>Using menus</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet"
        href="./lib/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="/css/fonts.css">
    <link href="/css/material-icons.css" rel="stylesheet">
</head>
<body ng-app="myApp" layout="column"
      ng-controller="MenuController"  >
<md-toolbar class="md-toolbar-tools">
  <h1>Using menus</h1>
</md-toolbar>
<md-content>
  <md-menu>
    <md-button
        class="md-icon-button"
        ng-click="$mdOpenMenu($event)">
      <md-icon>library_books</md-icon>
    </md-button>
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click="handle($event)">
          <md-icon md-menu-align-target>library_books</md-icon>
          Edit log entry
        </md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click="handle($event)">
          <md-icon>delete</md-icon>
          Remove log entry
        </md-button>
      </md-menu-item>
      <md-divider></md-divider>
      <md-menu-item>
        <md-button ng-click="handle($event)">
          <md-icon>attachment</md-icon>
          Attach pictures
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <md-divider></md-divider>
  <div flex layout-padding class="md-body-1">
    Last action: {{lastAction}}
  </div>
</md-content>

<!-- Angular/Material scripts -->
<script src="./lib/angular/angular.js"></script>
<script src="./lib/angular-animate/angular-animate.js"></script>
<script src="./lib/angular-aria/angular-aria.js"></script>
<script src="./lib/angular-material/angular-material.js"></script>

<!-- App-specific scripts -->
<script src="./menu.js"></script>
<script type="text/javascript">
  angular
      .module('myApp', ['ngMaterial', 'menu'])
</script>
</body>
</html>
